streamlit==1.38.0
snowflake-connector-python==3.12.2
snowflake-snowpark-python==1.22.1
snowflake-ml-python==1.6.2
snowflake.core==0.12.1
beautifulsoup4==4.12.3
googletrans==4.0.0-rc1
deep-translator
# snowflake.cortex==0.42.1
# Add other dependencies as needed
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
